*{
    margin: 0;
    padding: 0;

}

#titulo{
    font-family:fantasy;
    color:black;
    margin-left: 10%;
    margin-right: 30%;
}

#subtitulo{
    font-family:monospace ;
    color:black;
    margin-left: 18%;
    
}


fieldset{
    border: 0;
}

body{
    background-color:thistle;
    font-family:monospace;
    font-size: 20px;
    color: black;
    margin: 33%;
    margin-top: 3%;
}

input, select, button{
    border-radius: 5px;
    font-family: monospace;
    font-size: 1em;
    color: black;
    border-radius: 5px;
}

.grupo:before, .grupo:after {
    display: table;
}


.grupo:after {
    clear: both;
}

.campo select{
    font-family: monospace;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color:black;
    display: block;
}

fieldset.grupo .campo{
    float:left;
    margin-right: 1em;
}

fieldset.grupo .lado{
    float:left;
    margin-right: 1em;
}

.lado{
    margin-bottom: 1em;
    display: inline-block;
}

.lado label{
    margin-bottom: 0.2em;
    margin-right: 155px;
    margin-left: 4px;
    color:black;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo input[type="outros"], .campo input[type="telefone"], .campo input[type="endereco"]  {
    padding: 0.2em;
    border: 1px solid lightslategray;
    box-shadow: 2px 2px 2px darkslategray;
    display:inline-table
}

.campo select option{
    padding-right: 1em;
}


.campo input:focus, .campo select:focus {
    background: lightgrey;
}

.botao{
    font-size: 1.2em;
    background: rgb(173, 112, 160);
    border: 0;
    color: black;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgb(206, 158, 211);
    text-shadow: 1px 1px 1px black;
    position:relative;
    top: -55px;
    left: 30px;
    margin-left: 1%;
    
}

.botao:hover{
    background:rgb(222, 219, 224);
    box-shadow: inset 2px 2px 2px rgb(190, 164, 221);
    text-shadow: none;
}

.botao, select{
    cursor: pointer;
}

#check{
    display:inline-table;
}
